{{- if eq .chezmoi.os "linux" }}
[".config/k9s/skins"]
{{- else if eq .chezmoi.os "windows" }}
["AppData/Local/k9s/skins"]
{{- end }}
    type = "archive"
    url = "https://github.com/catppuccin/k9s/archive/master.tar.gz"
    exact = true
    stripComponents = 2
    include = ["*/dist/*"]
    refreshPeriod = "168h"

