set -gx EDITOR nano
set -gx GPG_TTY (tty)

{{- if lookPath "/home/linuxbrew/.linuxbrew/bin/brew" }}
if status is-interactive
    # Commands to run in interactive sessions can go here
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end

if test -d (brew --prefix)"/share/fish/completions"
    set -gx fish_complete_path $fish_complete_path (brew --prefix)/share/fish/completions
end

if test -d (brew --prefix)"/share/fish/vendor_completions.d"
    set -gx fish_complete_path $fish_complete_path (brew --prefix)/share/fish/vendor_completions.d
end
{{- end }}

if test -d {{ .chezmoi.homeDir }}/.local/bin
    fish_add_path {{ .chezmoi.homeDir }}/.local/bin
end

{{- if lookPath "aqua" }}
set -gx AQUA_CONFIG {{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
set -gx AQUA_GLOBAL_CONFIG {{ .chezmoi.homeDir }}/.config/aqua/aqua.yaml
set -gx AQUA_ROOT_DIR {{ .chezmoi.homeDir }}/.local/share/aqua
fish_add_path $AQUA_ROOT_DIR/bin
{{- end }}

if type -q direnv
    direnv hook fish | source
end

if type -q thefuck
    thefuck --alias | source
end

if type -q starship
    starship init fish | source
end

if type -q zoxide
    zoxide init fish | source
end

if type -q cargo
    fish_add_path {{ .chezmoi.homeDir }}/.cargo/bin
end
